{% load staticfiles %}

body{
	background: url(../images/header.jpeg);
	background-size: cover;
	color: #000000;
	font-family: "Helvetica", "Arial", sans-serif;
}

h1{
	font-size: 42px;
}

h1:hover{
	color: #F5A9D0;
}


a{
	color: #E6E6E6;
	text-decoration: none;
}
a:hover{
	color: #F6CEE3;
}

ul{
	border: black solid 1px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul li{
	padding: 1px;
}

ul li:hover{
	font-size: 18px;
}

.verticalline{
	height: 100%;
	border: black solid 0px;
	border-left-width: 1px;
	position: absolute;
	left: 40%;
	top: 28%;
}

.header{
	background-color: rgba(0, 0, 0, 0.6);
	border: black solid 1px;
	border-radius: 5px;
	color: #E6E6E6;
	padding: 3px;

}

#songs{
	/*margin-top: 5px;*/
	float: left;
	width: 39%;
	/*border: black 1px solid;*/
}
#artists{
	float: right;
	width: 59%;
	/*border: black 1px solid;*/
}