<!DOCTYPE html>

{% extends 'guitartabs/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<!-- <img class='headerimg' src="{% static 'images/header.jpeg' %}"> -->

	<span>
		<ul class='navbar'>
			<li><a href="{% url 'add_song' %}">Add a Song</a></li>
			<li><a href="{% url 'add_category' %}">Add a Category</a></li>
		</ul>
	</span>
	<div id='songs'>
		<h3 class='graybox header'>Songs </h3>
		<ul>
		{% for song in songlist %}
			<a href="{{ song.url }}"><li> <strong>{{ song }}</strong> - {{ song.artist }}</li></a>
		{% endfor %}
		</ul>
	</div>
	<!-- <div class="verticalline"></div> -->
	<div id='artists'>
		<h3 class='graybox header'>Artists </h3>
		<ul>
		{% for name, slug in artistlist %}
			<a href="/artist/{{ slug }}/"><li>{{ name }}</li></a>
		{% endfor %}
		</ul>
	</div>

	<div id='categories'>
		<h3 class='graybox header'>Categories </h3>
		<ul>
		{% for category in categorylist %}
			<a href="/category/{{ category.category_slug }}/"><li>{{ category.name }}</li></a>
		{% endfor %}
		</ul>
	</div>

{% endblock %}


